.welcome {
  background-image: url("../img/bg/mountan.png");
  @include cover();
  min-height: 100vh;
  //min-height: 650px;
  display: flex;
  flex-direction: column;
  position: relative;
  //z-index: 2;
    &:before {
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(1, 102, 114, 0.3);
          }
   }
.portfolio__header {
  @include absolute-center;
  max-width: 85%;
  opacity: 0.06;
}
.user-top {
  flex: 1 1 60%;
  position: relative;/* need this to position inner content */
  overflow-y: auto;
  display: flex;
}
.user-bottom {
  flex: 1 0 auto;
  position: relative;
}
.user-data {
  margin: auto;
  width: 350px;
}
.user__name, .user__text {
  text-align: center;
}
.user__name {
  font-family: $rmedium;
  font-size: 28px;
  margin-bottom: 10px;
  color: #fff;
}
.user__text {
  margin-bottom: 40px;
  color: #fff;
  opacity: 0.8;
}

.arrow-dropdown__link {
  position: absolute;
  display: inline-block;
  //bottom: 50px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 28px;
  height: 18px;
  opacity: .7;
  //z-index: 2;
  -webkit-transition: bottom 0.2s;
  transition: bottom 0.2s;
  &:hover {
    //bottom: 48px;
    opacity: 1;
  }
}
.traingle__svg {
  position: absolute;
  bottom: 0px;
}
.traingle__left-about {
  fill: #efeee9; }

.traingle__right-about {
  fill: #eeebdf;
  @include phones {
    fill:  #efeee9;
  }
  @include tablets {
     fill:  #efeee9;
   }
  @include laptop {
    fill:  #efeee9;
  }
}

.vita {

}
.vita-inner {
  display: flex;
  flex-flow: row wrap;
  }
.about {
   flex: 1 1 50%;
   display: flex;
   flex-direction: column;
   background-color: #efeee9;
  @include tablets {
    flex: 1 1 100%;
  }
  @include laptop {
    flex: 1 1 100%;
  }
  }
.about__header {
  text-align: center;
}
.about__title {
  font-size: 4rem;
  margin-bottom: 35px;

  @include phones {
    font-size: 35px;
    margin-bottom: 25px;
  }
  @include tablets {
    font-size: 49px;
    margin-bottom: 25px;
  }
  @include laptop {
    font-size: 49px;
    margin-bottom: 25px;
  }
}
.about__photo {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 16px;
  max-width: 450px;
  @include tablets {
    max-width: 61%;
    }
  @include laptop {
    max-width: 61%;
  }
}
.about__description {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
  @include phones {
    width: 95%;
  }
  @include tablets {
    max-width: 61%;
    margin-bottom: 50px;
  }
  @include laptop {
    max-width: 61%;
    margin-bottom: 50px;
  }
}
.about__text {
  text-align: left;
    @include phones {
      font-size: 14px;
      line-height: 28px;
    }
}

.about__subtitle {
  margin-bottom: 20px;

  @include phones {
    font-size: 21px;
  }
  @include tablets {
     font-size: 30px;
   }
  @include laptop {
    font-size: 30px;
  }
}
.skill {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  background-color: #eeebdf;
  @include tablets {
    padding-top: 50px;
  }
  @include laptop {
    padding-top: 50px;
  }
  }
.skill__header {
  text-align: center;
  vertical-align: top;
}
.skill__subtitle {
  width: 220px;
  font-size: 2rem;
  margin-bottom: 25px;
  padding-top: 10px;
  @include phones {
    font-size: 21px;
    &:after,&:before {
      content: "";
      display: block;
      top: 50%;
      right: -20px;
    }
  }
  @include tablets {
    font-size: 30px;
    &:after,&:before {
      content: "";
      display: block;
      top: 50%;
      right: -20px;
    }
  }
  @include laptop {
    font-size: 30px;
    &:after,&:before {
      content: "";
      display: block;
      top: 50%;
      right: -20px;
    }
  }
}
.skill__text, .skill-tech {
  width: 95%;
  margin: 0 auto;
}
.skill-tech {
  @include phones {
      width: 90%;
    }
  @include tablets {
    width: 77%;
  }
  @include laptop {
    width: 77%;
  }
  @include desktop {
    margin-left: 45px;
  }
}
.skill__text {
  margin-bottom: 45px;
  @include phones {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 25px;
  }
  @include tablets {
    width: 61%;
    text-align: justify;
  }
  @include laptop {
    width: 61%;
    text-align: justify;
  }
}
.tech-frontend, .tech-backend, .tech-workflow {
  margin-bottom: 40px;
  @include phones{
    margin-bottom: 0;
  }

}
.tech__title {
  font-family: $rmedium;
  font-size: 28px;
  color: $grey;
  margin-bottom: 20px;
  @include phones {
    font-size: 21px;
    text-align: center;
  }
  @include tablets {
    font-size: 21px;
    text-align: center;
  }
  @include laptop {
    font-size: 21px;
    text-align: center;
  }
}
.tech__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -48px;
  @include phones {
    justify-content: space-around;
    margin-left: 0;
  }
  @include tablets {
    justify-content: space-around;
    margin-left: 0;
  }
  @include laptop {
    justify-content: space-around;
    margin-left: 0;
  }
}
.tech__item {
  position: relative;
  flex: 0 0 auto;
  margin-left: 38px;
  @include phones {
    margin-left: 0;
    margin-bottom: 30px;
     }
  @include tablets {
    margin-left: 0;
    margin-bottom: 30px;
  }
  @include laptop {
    margin-bottom: 20px;
    margin-left: 0;
  }
   }

.tech__graph-svg {
  fill: none;
  stroke-width: 20;
  position: relative;}

.tech__graph-fill {
  stroke-dasharray: 282.5;
}

.tech__name {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: $rmedium;
  font-size: 12px;
  color: $green;
  text-align: center;
}

.contacts {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../img/bg/map.png");
  @include cover;
}
.contact-inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 650px;
}
.contact-menu {
  border-radius: 5px;
  background-color: rgb(252, 252, 252);
  opacity: 0.851;
  width: 100%;
  max-width: 380px;
  margin: auto;
  text-align: center;
  padding-top:30px;
  padding-bottom: 30px;
  @include phones {
    margin: 0 auto;
  }
  }
.contact__list {
  width: 80%;
  margin: 0 auto;
}
.contact__item {
  margin-bottom: 20px;
  vertical-align: middle;

}
.contact__link {
  display: flex;
  align-items: center;
  text-decoration: none;

  &:hover .contact__link-name{
    border-bottom: 1px dashed $grey;
  }
}
.contact__link-name {
  margin-left: 20px;
  font-family: $rlight;
  color: $grey;
  border-bottom: 1px dashed transparent;
}

.contact__subtitle {
  color: #373e42;
  margin-bottom: 25px;
}
