.footer-auth {
  margin-bottom: 30px;
  & .copyright {
    justify-content: center;
    color: #fff;
    display: flex;
    @include phones {
      display: flex;
      flex-wrap: wrap;
      font-size: 14px;
    }
  }
}
.footer {
  background-color: #555a5e;
  opacity: 0.85;
}
.footer-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-top__inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  @include phones {
    flex-direction: column;
  }
  @include tablets {
    flex-direction: column;
  }
}

.footer-menu {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  @include phones {
    justify-content: center;
    margin-bottom: 17px;
  }
  @include tablets {
    justify-content: center;
    margin-bottom: 17px;
  }
}
.footer-social {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row-reverse;
  @include phones {
    justify-content: center;
  }
  @include tablets {
    justify-content: center;
  }
}
.footer-menu__item {
  display: inline-block;
   &:nth-child(1n+2) {
    margin-left: 40px;
  }
  @include phones {
    display: inline-block;
        &:nth-child(1n+2) {
          margin-left: 8px;
        }
  }
  @include tablets {
    display: inline-block;
    &:nth-child(1n+2) {
      margin-left: 8px;
    }
  }
}
.footer-menu__link {
  display: block;
  text-decoration: none;
  font-family: $rmedium;
  font-size: 16px;
  color: #fff;
  @include phones {
    font-size: 13px;
  }
  @include tablets {
    font-size: 13px;
  }
  &:hover {
    color: $green;
  }
}
.footer-bottom__inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 18px;
  margin-bottom: 18px;
  @include phones {
    font-size: 13px;
    line-height: 24px;
    font-family: $rlight;
    margin-top: 20px;
    margin-bottom: 16px;
  }
  @include tablets {
    font-size: 13px;
    line-height: 24px;
    font-family: $rlight;
    margin-top: 20px;
    margin-bottom: 16px;
  }
  @include laptop {
    flex-flow: column;
  }
  }


.footer-text,.footer-copyright {
  color: rgba(255, 255, 255, 0.5);
  font-family: $rlight;
  text-align: middle;
}
.footer-text {
  flex: 0 1 30%;
  @include phones {
    flex: 1 1 auto;
    text-align: center;
  }
  @include tablets {
    flex: 1 1 auto;
    text-align: center;
  }
  @include laptop {
    text-align: center;
  }
  @include desktop {
    flex: 0 1 50%;
  }
}
.footer-copyright {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap;
  @include phones {
    flex-direction: column;
  }
  @include tablets {
    flex-direction: column;
  }
  @include laptop {
    flex-direction: row;
    justify-content: center;
  }
}