.start {
  background: url("../img/bg/mountan.png") no-repeat;
  @include cover();
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  }

.start-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  }
.auth-top {
  display: flex;
  justify-content: flex-end;
  padding-top: 23px;
  width: 95%;
  }
.auth-top__link {
  display: block;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  padding: 12px 26px;
  width: 200px;
  text-align: center;
  &:hover {
    background-color: #fff;
    color: #00bfa5;
  }
}
.auth-bottom {
  display: flex;
  margin: auto 0;
  }
.auth {
  max-width: 380px;
  margin: auto;
  width: 95%;
}
.auth-user {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgb(252, 252, 252);
  opacity: 0.851;
  padding-top: 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.auth-user__photo {
  width: 40%;
  min-width: 145px;
  min-height: 145px;
  @include cover();
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 4px;
  & img {
    display: none;
  }
}

.auth-user__name, .auth-user__text {
  text-align: center;
}
.auth-user__name {
  font-family: $rmedium;
  font-size: 30px;

}
.auth-user__text {
  margin-bottom: 29px;
}

.auth-user__social {
  margin-bottom: 34px;
}
.auth-menu__nav {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
    }
.auth-menu__list {
  display: flex;
  flex-wrap: wrap;
  }

.auth-menu__item {
  flex-grow: 1;
  position: relative;
  background-color: $green;
  opacity: 0.851;
  &:nth-of-type(1n+2) {
    border-left: 2px solid rgba(222, 227, 231, 0.502);
  }
  &:hover {
    background-color: $green-dark;
  }
}
.auth-menu__link {
  font-family: $rmedium;
  color: #fff;
  text-decoration: none;
  display: block;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  text-align:center;
  padding: 15px 20px;
}



.auth-popup {
  display: none;
}