.main-menu {
  display: block;
  position: fixed;
  min-height: 500px;
  z-index: 10;
  transition: top .1s,
  left .1s,
  bottom .1s,
  right .1s;
}

.main-menu__left {
  position: inherit;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 100%;
  transform: translateX(-100%);
  min-height: 435px;
  transition: transform 1s;
  background: rgba(#1cc2ac, 0.87);
}
.main-menu__right {
  position: inherit;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  transform: translateX(100%);
  min-height: 435px;
  transition: transform 1s;
  background: rgba(#1cc2ac, 0.87);
}

.main-menu__list {
  display: none;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  position: inherit;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  @include phones {
    top: 50%;
  }
  @include tablets {
    top: 50%;
  }
  @include laptop {
    top: 50%;
  }


}
.main-menu__item {
  opacity: 0;
  transition: opacity .5s;
  margin-bottom: 88px;
  @include phones {
    margin-bottom: 50px;
  }
  @include tablets {
    margin-bottom: 50px;
  }
  @include laptop {
    margin-bottom: 50px;
  }
  &:last-child {
    margin-bottom: 0;
    .main-menu__link {
      padding-bottom: 0;
    }
  }
  &:nth-child(1) {
    transition-delay: 0s;
  }
  &:nth-child(2) {
    transition-delay: .1s;
  }
  &:nth-child(3) {
    transition-delay: .2s;
  }
  &:nth-child(4) {
    transition-delay: .3s;
  }
}

.main-menu__link {
  color: #fff;
  position: relative;
  display: inline-block;
  font-size: 63px;
  font-family: $bregular;
  text-transform: uppercase;
  text-decoration: none;
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 22px;
    height: 5px;
    background-color: #fff;
    top: 50%;
    left: -33px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 22px;
    height: 5px;
    background-color: #fff;
    top: 50%;
    right: -33px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s;
  }
  &:hover {
     &:before, &:after {
      opacity: 1;
    }

  }
  @include phones {
    font-size: 35px;
  }
  @include tablets {
    font-size: 49px;
  }

}
.main-menu_active {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .main-menu__list {
    display: block;
  }
  .main-menu__left, .main-menu__right{
    transform: translateX(0%);
  }
}
.main-menu__list_active .main-menu__item:nth-child(1) {
  opacity: 1;
}
.main-menu__list_active {
  .main-menu__item:nth-child(1) {
    opacity: 1;
  }
  .main-menu__item:nth-child(2) {
    opacity: 1;
  }
  .main-menu__item:nth-child(3) {
    opacity: 1;
  }
  .main-menu__item:nth-child(4) {
    opacity: 1;
  }
}