.works {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  }
.works-header {
  background-color: #faf8f0;
  text-align: center;
   }
.traingle__works {
  fill: #faf8f0;
}
.work__title {
  margin-bottom: 52px;
  font-size: 4rem;
  padding-top: 33px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 22px;
    height: 5px;
    background-color: rgb(55, 62, 66);
    opacity: 0.2;
    top: 64%;
    left: -44px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 22px;
    height: 5px;
    background-color: rgb(55, 62, 66);
    opacity: 0.2;
    top: 64%;
    right: -44px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  @include phones {
    font-size: 35px;
    padding-top: 20px;
    margin-bottom: 20px;
  }
}

.feedback {
  background-image: url("../img/bg/feedback_bg.png");
  @include cover();
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  }
.feedback-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}
.feedback-header {
  text-align: center;
  width: 100%;
  margin-bottom: 100px;
  @include phones {
    margin-bottom: 70px;
  }
}

.feedback-reviews {
  display: flex;
  margin-bottom: 66px;
  @include phones {
    flex-direction: column;
    margin-bottom: 0;
  }
  @include tablets {
    width: 95%;
  }
  }
.review-item {
  max-width: 380px;
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -40px;
    width: 34px;
    height: 29px;
    background: url("../img/decor/quote.png") no-repeat;
    background-size: contain;
  }
  @include phones {
    font-size: 14px;
    width: 95%;
    margin: 0 auto;
     &:before {
      content: "";
      display: block;
      top: -60px;
      left: 50%;
      width: 34px;
      height: 29px;
       -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
       -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
       transform: translateX(-50%);
      }
    &:first-child {
      margin-bottom: 70px;
    }
  }
  @include tablets {
    &:last-child {
      margin-left: 20px;
    }
  }
}

.feedback-title {
  max-width: 300px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 22px;
    height: 5px;
    background-color: rgb(55, 62, 66);
    opacity: 0.2;
    top: 50%;
    left: -44px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 22px;
    height: 5px;
    background-color: rgb(55, 62, 66);
    opacity: 0.2;
    top: 50%;
    right: -44px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  @include phones {
    font-size: 35px;
    padding-top: 38px;
    max-width: 170px;
    &:before {
      content: "";
      display: block;
      top: 64%;

    }
    &:after {
      content: "";
      display: block;
      top: 64%;
      right: -44px;
    }
  }

}

.review-item__text {
  font-family: $rregular;
  font-size: 16px;
  color: $grey-dark;
  margin-bottom: 30px;

  @include phones {
    font-size: 14px;
    margin-bottom: 14px;

  }
}
.review-item__author {
  display: flex;
  align-items: center;
  }
.author__desc {
  flex-basis: 70%;
  margin-left: 20px;
}
.author__photo {
  flex-basis: 20%;
  border-radius: 50%;
  overflow: hidden;
  @include cover;
  height: 76px;
  @include phones {
    height: 50px;
  }
  }
.author__photo-img {
  display: none;
}
.author__name, .author__caption {
  color: $green;
}
.author__name {
  font-family: $rbold;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 380px;
  background: url(../img/bg/feedback-form_bg.png) no-repeat 0 0/cover;
  padding-top: 40px;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 70px;

  position: relative;
  z-index: 3;
  //&:before {
  //  content: '';
  //  position: absolute;
  //  display: block;
  //  top: 0;
  //  bottom: 0;
  //  left: 0;
  //  right: 0;
  //  z-index: -1;
  //  background: url("../img/bg/feedback-form_bg.png") no-repeat 0 0/cover;
  //  //background-image: url("../img/bg/feedback-form_bg.png");
  //  //filter: blur(10px);
  //}
  @include phones {
    width: 95%;
    margin-bottom: 50px;
  }
}
.feedback-form__title {
  font-size: 35px;
  margin-bottom: 40px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 22px;
    height: 5px;
    background-color: rgb(55, 62, 66);
    opacity: 0.2;
    top: 50%;
    left: -44px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 22px;
    height: 5px;
    background-color: rgb(55, 62, 66);
    opacity: 0.2;
    top: 50%;
    right: -44px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  @include phones {
    font-size: 21px;
  }
}
.feedback-form .feedback-form__name, .feedback-form__email, .feedback-form__text {
  display: block;
  width: 90%;
  margin: 0 auto 20px;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  outline: none;
}
.feedback-form__buttons {
  display: flex;
}

.feedback-form__submit, .feedback-form__clear {
  padding: 10px 0;
  color: #fff;
  border: none;
  font-family: $rregular;
  font-size: 16px;
  background: rgba($green, .8);
  flex-grow: 1;
}
.feedback-form__submit {
  border-right: 2px solid rgba(222, 227, 231, 0.502);
}
.arrow-dropup__link {
  margin-bottom: 70px;
  & svg {
    transform: rotate(180deg);
  }
  @include phones {
    margin-bottom: 50px;
  }
}