.icon-vk, .icon-github, .icon-in {
  opacity: 0.5;
  }
.icon-vk {
  font-size: 1.2rem;
}
.icon-github {
  font-size: 1.4rem;
}

.icon-in {
  font-size: 1.4rem;
}
.icon-vk_round, .icon-github_round, .icon-in_round {
  font-size: 2rem;
  opacity: 0.5;
  stroke: #fff;
}
.icon-hamburger {
  font-size: 2.2rem;
  @include phones {
    font-size: 1.5rem;
  }
  }
.icon-skype {
  font-size: 1.2rem;
  }
.icon-envelope {
  font-size: 1rem;
}
.icon-phone {
  font-size: 1rem;
}
.icon-map_marker {
  font-size: 1.7rem;
}
.icon-link {
  font-size: 1rem;
}
.icon-portf_arrow_down, .icon-portf_arrow_up {
  @include absolute-center;
  font-size: 1.5rem;
  z-index: 6;
}
.green__mod {
  color:$green;
  }
.white__mod {
  color: #fff;
}
.icon-arrow_down {
  font-size: 1.4rem;
  opacity: 0.7;
}
.icon-about_header {
  font-size: 7rem;
  opacity: 0.06;
  @include absolute-center;
  top: -8px;
  z-index: 3;
  @include phones {
    font-size: 5rem;
    left: -50%;
  }
}
.icon-portfolio_header {
  font-size: 5rem;
  opacity: 0.06;
  @include absolute-center;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 3;
}
.icon-check {
  font-size: 0.5rem;
  opacity: 0;
}