footer.footer
	div.footer-top
		div.container
			div.footer-top__inner
				nav.footer-menu
					ul.footer-menu__list
						li.footer-menu__item
							a(class="footer-menu__link" href="my_work.html") Мои работы
						li.footer-menu__item
							a(class="footer-menu__link" href="about.html") Обо мне
						li.footer-menu__item
							a(class="footer-menu__link" href="blog.html") Блог
						li.footer-menu__item
							a(class="footer-menu__link" href="index.html") Авторизация
				div.footer-social
					ul.social__list
						li.social__item
							a(class='social__link' href='https://vk.com/id3040974' target="_blank")
								span Вконтакте
								+icon('vk_round','white__mod')
						li.social__item
							a(class='social__link' href='https://github.com/iasoloviev61' target="_blank")
								span git
								+icon('github_round','white__mod')
						li.social__item
							a(class='social__link' href='https://www.linkedin.com/in/iasoloviev61/' target="_blank")
								span Линкедин
								+icon('in_round','white__mod')
	div.footer-bottom
		div.container
			div.footer-bottom__inner
				div.footer-text
					p Я веб разработчик из Шатуры, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool
				div.footer-copyright
					p @ Соловьёв Игорь
					p Создано с любовью в loftschool | 2016


script(src="assets/js/foundation.js")
script(src="assets/js/main.js")
