doctype html
html(lang="ru-RU")
	include ../mixins/icon_mix.pug
	include ../common/head.pug
	body
		div.preloader
			div.preloader__container
				div.preloader__text 0
				svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="144px" height="144px" viewBox="0 0 144 144" enable-background="new 0 0 144 144" xml:space="preserve" class="preload__svg")
					circle(opacity="0.4" fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" enable-background="new    " cx="72" cy="71.999" r="70" class="preload__c1")
					circle(opacity="0.7" fill="none" stroke="#FFFFFF" stroke-width="3.8938" stroke-miterlimit="10" enable-background="new    " cx="72" cy="72" r="55" class="preload__c2")
					circle(fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" cx="72" cy="72" r="40" class="preload__c3")
		.main-menu
			.main-menu__left
			.main-menu__right
			ul.main-menu__list
				li.main-menu__item
					a.main-menu__link(href="my_work.html") Мои работы
				li.main-menu__item
					a.main-menu__link(href="about.html") Обо мне
				li.main-menu__item
					a.main-menu__link(href="blog.html") Блог
				li.main-menu__item
					a.main-menu__link(href="index.html") Авторизация
		.wrapper
			.maincontent
				block content