doctype html
html(lang="ru-RU")
	include ../mixins/icon_mix.pug
	include ../common/head.pug
	body
		.wrapper
			.maincontent
				include ../common/header.pug
				.container
					block content
		include ../common/footer.pug