extends ../layout/main_layout.pug
block title
	title Блог
block content
	section.welcome
		include ../common/header
		img(class="portfolio__header" src="assets/img/bg/portfolio_header.svg")

		div.user-top
			div.user-data
				div(class='auth-user__photo' style='background-image: url("assets/img/content/main-foto.jpg")')
					img(src="assets/img/content/main-foto.jpg" alt="my photo")
				div.auth-user__desc
					div.user__name Блог
					div.user__text Статьи которые я написал
		div.user-bottom
			a(class="arrow-dropdown__link")
				+icon('arrow_down', 'white__mod')
			.triangle
				svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="traingle__svg")
					polygon(class="traingle__blog" points="0,0   0,86   500.8,86   500.8,75.5")
					polygon(class="traingle__blog" points="1000,0   1000,86   500,86   500,75.5")
	section.blog
		.blog-wrap
			aside.sidebar
				.sidebar-wrap
					ul.sidebar__list
						li.sidebar__item.sidebar__item-active
							a.sidebar__link(href="#") Самое важное в Sass
						li.sidebar__item
							a.sidebar__link(href="#") Приёмы в вёрстке, без которых не обходится ни один сайт
						li.sidebar__item
							a.sidebar__link(href="#") Самый необходимый набор Gulp плагинов
						li.sidebar__item
							a.sidebar__link(href="#") Почему я выбрал PUG
			section.blog-content
				article.article
					div.article__header Самое важное в SASS
					div.article__date
						time(datetime="7 ноября 2016") 7 ноября 2016
					div.article__text
						p.
							Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
						p.
							Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
					pre.article__code.
										//присвоить
										$(document).data('prop', { anything: "любой объект" })

										//прочитать
										alert($(document).data('prop').anything) // любой объект
				article.article
					div.article__header Приёмы в вёрстке, без которых не обходится ни один сайт
					div.article__date
						time(datetime="7 ноября 2016") 7 ноября 2016
					div.article__text
						p.
							Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
						p.
							Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
				article.article
					div.article__header Самый необходимый набор Gulp плагинов
					div.article__date
						time(datetime="7 ноября 2016") 7 ноября 2016
					div.article__text
						p.
							Gulp, как система, построена вокруг концепции потоковой передачи данных. Здесь я хотел бы углубиться объяснение этой самой потоковой передачи, но, к счастью, уже есть замечательный источник, из которого вы можете почерпнуть знания о ней. Если вам, конечно, это интересно.

							Если не вдаваться в подробности, потоковая передача дает вам больше контроля над происходящим и избавляет вас от промежуточных папок и файлов. Вы передаете файл в gulp, а затем сохраняете результат в другой файл. Всё очень просто.
						p.
							Когда дело доходит до расширения функциональности, ключевая мысль gulp в том, что каждый плагин должен выполнять только одно простое действие. Сам gulp всего лишь соединяет и организует эти действия в задачи. Здесь нет плагинов, дублирующих действия друг друга, и конфликтующих между собой или основным функционалом.
						pre.article__code.
											'use strict';

											module.exports = function() {
												$.gulp.task('sass', function() {
												return $.gulp.src('./source/style/main.scss')
													.pipe($.gp.sourcemaps.init())
													.pipe($.gp.sass()).on('error', $.gp.notify.onError({ title: 'Style' }))
													.pipe($.gp.autoprefixer({ browsers: $.config.autoprefixerConfig }))
													.pipe($.gp.sourcemaps.write())
													.pipe($.gulp.dest($.config.root + '/assets/css'))
													// .pipe($.gp.csso())
													// .pipe($.gp.rename("main.min.css"))
													// .pipe($.gulp.dest($.config.root + '/assets/css'))
													.pipe($.browserSync.stream());
												})
											};
				article.article
					div.article__header Почуму я выбрал PUG
					div.article__date
						time(datetime="7 ноября 2016") 7 ноября 2016
					div.article__text
						p.
							PUG — это препроцессор HTML, а также шаблонизатор, написанный на JS для Node.js. Если говорить более понятным и простым языком, то можно сказать, что PUG — незаменимый инструмент при верстке сайтов. Почему незаменимый? Да потому, что он сэкономит Вам кучу времени, не говоря уж про удобство написания кода.
						p.
							В качестве примера приведу простой код, сначала простой HTML, а потом с использованием PUG.
					pre.article__code.
										<main>
											<p>Lorem ipsum ...</p>
											<ul>
											<li>first</li>
											<li>second</li>
											<li>over9999</li>
											</ul>
											<p>Easy!</p>
										</main>
					div.article__text
						p.
							Теперь PUG
					pre.article__code.
										main
											p Lorem ipsum ...
											ul
											li first
											li second
											li over9999
											p Easy!


	include ../common/footer