extends ../layout/login_layout.pug
block title
	title Добро пожаловать
block content
	section.section.start
		div.container-big
			div.start-content
				div.auth-top
					a(class='auth-top__link' href="admin.html") Авторизоваться
				main.auth-bottom
					div.auth
						div.auth-user
							div(class='auth-user__photo' style='background-image: url("assets/img/content/main-foto.jpg")')
								img(src="assets/img/content/main-foto.jpg" alt="my photo")
							div.auth-user__desc
								div.auth-user__name Соловьёв Игорь
								div.auth-user__text Личный сайт веб разработчика
								div.auth-user__social
									ul.social__list
										li.social__item
											a(class='social__link' href='https://vk.com' target=_blank)
												span Вконтакте
												+icon('vk','green__mod')
										li.social__item
											a(class='social__link' href='https://github.com' target=_blank)
												span git
												+icon('github','green__mod')
										li.social__item
											a(class='social__link' href='https://linkedin.com' target=_blank)
												span Линкедин
												+icon('in','green__mod')

						nav.auth-menu__nav
							ul.auth-menu__list
								li.auth-menu__item
									a(class='auth-menu__link' href="my_work.html") Мои работы
								li.auth-menu__item
									a(class='auth-menu__link' href="about.html") Обо мне
								li.auth-menu__item
									a(class='auth-menu__link' href="blog.html") Блог
					div.auth-popup
						div.common-subtitle.auth-popup__title Авторизуйтесь
						form.auth-form
							div.auth-form__login
								label.auth-label__login
									span.auth-input__login_icon
									input(class="auth-input__login-name" type="text" name="login" placeholder="Логин")
							div.auth-form__password
								laleb.auth-label__password
									span.auth-input__password_icon
									input(class="auth-input__password" type="password" name="pasword" placeholder="Пароль")
							div.auth-form__checkbox
								label.auth-label__checkbox
									input(class="auth-input__checkbox" type="checkbox" name="notrobot")
									div.auth-input__checkbox_fake
									div.auth-input__checkbox_title Я человек
							div.auth-form__radio
								div.auth-form__radio_title Вы точно не робот?
								label.auth-label__radio
									input(class="auth-input__radio" type="radio" name="input-radio" value="yes")
									div.auth-input__radio_fake
									div.auth-inout__radio_title Да
								label.auth-label__radio
									input(class="auth-input__radio" type="radio" name="input-radio" value="no")
									div.auth-input__radio_fake
									div.auth-inout__radio_title Не уверен
						nav.auth-menu__nav
							ul.auth-menu__list
								li.auth-menu__item
									a(class='auth-menu__link' id="return" href="#") На главную
								li.auth-menu__item
									a(class='auth-menu__link' id="login" href="#") Войти
			include ../common/footer_auth

