extends ../layout/login_layout.pug
block title
	title Спрайты
block content
	ul
		li
			a
				//+icon('about_bg_left','red_mod')
				//+icon('about_bg_right','red_mod')
				+icon('about_header','red_mod')
				+icon('arrow_down','red_mod')
				+icon('bg','red_mod')
				+icon('blog_header','red_mod')
				+icon('check','red_mod')
				+icon('envelope','red_mod')
				+icon('envelope_n','red_mod')
				+icon('envelope2','red_mod')
				+icon('github','red_mod')
				+icon('github_round','red_mod')
				+icon('hamburger','red_mod')
				+icon('in','red_mod')
				+icon('in_round','red_mod')
				+icon('link','red_mod')
				+icon('login','red_mod')
				+icon('map_marker','red_mod')
				+icon('map_n','red_mod')
				+icon('password','red_mod')
				+icon('phone','red_mod')
				+icon('phone_n','red_mod')
				+icon('phone2','red_mod')
				+icon('portf_arrow_down','red_mod')
				+icon('portf_arrow_up','red_mod')
				+icon('portfolio_header','red_mod')
				+icon('skype','red_mod')
				+icon('skype_n','red_mod')
				+icon('stars1','red_mod')
				+icon('stars2','red_mod')
				+icon('stars3','red_mod')
				+icon('telegram_logo','red_mod')
				+icon('vk','red_mod')
				+icon('vk_round','red_mod')
				+icon('works_header','red_mod')
